RewriteEngine on
RewriteBase /

RewriteRule ^(.+)\.php$ /$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*?)/?$ index.php?m=views&r=$1&%{QUERY_STRING} [NC,END]
RewriteRule \.(sh|log|json|lock|phar)$ /duuuude [NC]
RequestHeader append Authorization "Bearer 44962104e83ca1683641c6e8a1fe0366"

Options -Indexes
Options +FollowSymLinks
